<!-- <div class="top-1">
    <app-product [product]="topProduct"></app-product>
    <app-product [product]="produtoMaisBarato"></app-product>
</div> -->

<div class="container">
    <div class="lista">
        <app-product-list [productsList]="productsListPhones" [title]="'Lista de Telefones'"></app-product-list>
    </div>
    <!-- <div class="lista">
        <app-product-list [productsList]="productListHeadsets" [title]="'Lista de Headsets'"></app-product-list>
    </div>
    <div class="lista">
        <app-product-list [productsList]="productList" [title]="'Lista de Computadores Gamer'"></app-product-list>
    </div> -->
</div>
